body{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    background-image:url('wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}
h1{
    color: #fff;

}